In [12]:
from datasets import load_dataset

import numpy as np
import pandas as pd

import string
import re

In [2]:
dataset = load_dataset('big_patent', 'h')

Reusing dataset big_patent (/home/ccmilne/.cache/huggingface/datasets/big_patent/h/1.0.0/bdefa7c0b39fba8bba1c6331b70b738e30d63c8ad4567f983ce315a5fef6131c)

  0%|          | 0/3 [00:00<?, ?it/s]

In [13]:
def clean(s):
    a = s.translate(str.maketrans(' ', ' ', string.punctuation))
    return re.sub('\s+',' ', a).replace('\n', '').strip()

In [16]:
median_lengths = {}

for s in ['train', 'validation', 'test']:
    
    d_lengths = []
    descriptions = dataset[s]['description']
    for article in descriptions:
        d_lengths.append(len(clean(article).split()))
        
    a_lengths = []
    abstracts = dataset[s]['abstract']
    for article in abstracts:
        a_lengths.append(len(clean(article).split()))
        
    median_lengths[s] = [
        np.mean(d_lengths),
        np.median(d_lengths),
        np.mean(a_lengths),
        np.median(a_lengths),
    ]
    
    print(f"{s}...done")
median_lengths

train...done
validation...done
test...done

{'train': [3135.6844318902495, 2501.0, 111.84108178772776, 109.0],
 'validation': [3113.6382099586804, 2497.0, 111.38973317459205, 108.0],
 'test': [3104.1815953498144, 2496.0, 111.27810070733244, 108.0]}

In [21]:
results = pd.DataFrame(median_lengths).reset_index()

results.columns = ['length', 'train', 'validation', 'test']

results['length'] = [
    'description_mean', 'description_median',
    'abstract_mean', 'abstract_median'
]

results

               length        train   validation         test
0    description_mean  3135.684432  3113.638210  3104.181595
1  description_median  2501.000000  2497.000000  2496.000000
2       abstract_mean   111.841082   111.389733   111.278101
3     abstract_median   109.000000   108.000000   108.000000

In [22]:
dataset

DatasetDict({
    train: Dataset({
        features: ['description', 'abstract'],
        num_rows: 257019
    })
    validation: Dataset({
        features: ['description', 'abstract'],
        num_rows: 14279
    })
    test: Dataset({
        features: ['description', 'abstract'],
        num_rows: 14279
    })
})